@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Sacramento&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
}
body{
	background: #fff;
}

/*sec-1*/

.sec-1{
	margin-top: 50px;
}

.nevigation ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translatey(20px);
}

.nevigation ul li a{
	text-transform: capitalize;
	color: #000;
	font-size: 20px;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	transition: 0.3s;
}

.nevigation ul li a:hover{
	color: #fb970c;
}

.shoping{
	position: relative;
}

.shoping p{
	font-size: 20px;
	color: #000;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	text-transform: capitalize;
	transform: translatey(27px);
	white-space:nowrap;

}

.shoping p:after{
	content:'1';
	display: block;
	width: 25px;
	height: 25px;
	border-radius:50%;
	color: #ffff;
	background: #db3103;
	position: absolute;
	top: 0;
	left: -32px;
	text-align: center;
	font-size: 16px;
	transform: translatey(4px);
}

.res-icon{
	font-size: 30px;
	color: #000;
	text-align: right;
}

.res-icon{
	display: none;
}

.res-nav{
	background:rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 0;
	left: -215px;
	width: fit-content;
	display: none;
	height: 200vh;
	z-index: 10;
}

.res-nav ul li a{
	display: block;
	color: #fb970c;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Barlow', sans-serif;
	font-weight:bold;
	margin-bottom:50px;
	margin-right: 50px;
	margin-left: 30px;
	transition: 0.3s;
}

.shoping-res p:after{
	content:'1';
	display: block;
	width: 25px;
	height: 25px;
	border-radius:50%;
	color: #ffff;
	background: #db3103;
	text-align: center;
	font-size: 16px;
	transform: translatey(4px);
	position: absolute;
	top: 0;
	left: -30px;
}

.shoping-res p{
	font-size: 20px;
	color: #fff;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	text-transform: capitalize;
	transform: translatey(27px);
	white-space:nowrap;
	margin-bottom: 80px;
	margin-left: 35px;
}

.nevigation ul li{
	position: relative;
}

.nevigation ul li ul{
	position: absolute;
	display: block;
	top: 20px;
	left: 0;
	background:rgba(0, 0, 0, 0.8);
	display:none;
}

.nevigation ul li ul li{
	margin-top: 25px;
	line-height: 20px;
}

.nevigation ul li ul li a:hover{
	 font-size: 16px;
}

.nevigation ul li ul li a{
	color: #fff;
	margin: 0 30px;
	font-size: 16px;
	text-align:left;
	display: block;
}

.nevigation ul li ul li:last-child{
	margin-bottom: 30px;
}

.blank{
	width: 100%;
	height: 100%;
	background:rgba(229, 115, 6, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	display:none;
}

.res-nav ul li ul{
	margin-left: 50px;
	margin-bottom: 30px;
	display: none;
	margin-top: -30px;
}

.res-nav ul li ul li{
	margin-bottom: 20px;
}

.res-nav ul li ul li a{
	color: #fff;
	font-size: 16px;
	margin: 0;
}

.res-nav ul li a:hover{
	color: #e84118;
}

.res-nav .main-list li{
 	position: relative;
}

.blank-1{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display:none;
}
/*sec-1 end*/

.order-sec-title h2{
	font-size: 36px;
	color: #000;
	font-family: 'Barlow', sans-serif;
	margin-bottom: 25px;
}

.order-sec{
	margin-top: 100px;	 
}

.order-input input{
	width: 80%;
	transform: translate(10px);
	border: 3px solid #000;
	margin-bottom: 15px;
	padding: 7px 15px;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	outline: none;
}

.order-input input::placeholder{
	color: #000;
	font-size: 17px;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
}

.order-input input[type=submit]{
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	background: #cc1e03;
	color: #ffff;
	font-size: 25px;
	border: none;
	padding: 0;
}

.order-sec-buttom p{
	font-size: 13px;
	color: #000;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
}

.order-sec-buttom{
	padding-right:100px;
	padding-left: 10px;
}

.pizza-1{
	position: absolute;
	top: 500px;
	right: 100px;
	z-index: 3;
}

.d-right{
	position: absolute;
	top: 300px;
	right: 80px;
}

.d-left{
	position: absolute;
	top: 550px;
	left: 100px;
}

.tomato{
	position: absolute;
	top: 350px;
	right: 400px;
}

.barry{
	position: absolute;
	top: 800px;
	right: 750px;
}